<article>
    <div class="pixel_image">
      Replace me with pixel art later.
    </div>
    <ul class="horizontal">
      <li><a href="http://twitter.com/valconklin">Twitter</a></li>
      <li><a href="http://vavarazzi.tumblr.com">Tumblr</a></li>
      <li><a href="https://www.linkedin.com/in/vconklin">LinkedIn</a></li>
      <li><a href="https://github.com/vconklin">GitHub</a></li>
    </ul>
    <p>Valerie Conklin is an aspiring web developer currently learning how to make things do things at Ada Developers Academy in Seattle.</p>
    <p>The cute, wacky aesthetic of retro Japanese games inspires the heck out of her, and she spends her time drawing <a href="http://vavarazzi.tumblr.com/">pixel art</a>, storyboarding comics, and fantasizing about indie game ideas.</p>
    <p>She also enjoys speaking and teaching Japanese, and is completely unable to resist dabbling in every spoken language ever, even if that language is Finnish and brings her zero life skills.</p>
    <p class="kaomoji">＼(￣▽￣)／</p>
</article>
