<div class="entries">
  <!-- I think I would need another programming language to make it so the top entry and next entry are reflective of what are actually the newest entries, dynamically. -->
  <article class="top_entry">
    <h2>Ruby and C#</h2>
    <h3>March 25, 2016</h3>

    <p>Hi again journal! Today I hung out with my old friend Julia from Boston, and that was cool because she's a professional  developer herself! So she was excited to hear I was in Ada, and she showed me some cool desktop applications that she made in C#. Then she walked me through debugging some C# code, which was cool because I got a chance to really see some of the differences between Ruby and other languages!</p>

    <p>Being able to explain how Ruby works to her was exciting because it was the first time I felt like somewhat of an expert on something while talking to a "real programmer". Yay!</p>

    <p>Some interesting things I learned about Ruby, through learning about C#:</p>

    <p><a href="blog/03-25-2016">Read More..</a></p>
  </article>

  <aside class="sidebar">
    <div class="pixel_image">
      Replace me with pixel art later.
    </div>
    <h3>Val's Code Journal</h3>
    <p>This blog follows my magical voyage into the land of computers and the Internet. I'll be documenting my programming discoveries here!</p>
  </aside>

  <article class="next_entry">
    <h2>OOP Discoveries</h2>
    <h3>March 22, 2016</h3>
    <p>Hi journal. HOW'S IT GOING? Your life is probably not that exciting, what with you just being a journal and all, but I like to ask.</p>

    <p>I'm writing you in nano. Isn't that cool? I feel like a hacker. A lazy one,
    because the only reason I'm writing you in nano is because I'm too lazy to
    leave the command line.</p>

    <p><a href="blog/03-22-2016">Read More..</a></p>
  </article>
</div>
