<!-- <div class="splash">
  <h1>Hi, I'm Val!</h1> -->

<div class="splash">
  <img alt="placeholder image of a cute baby pig" src="images/piggy.jpg">
  <div class="blurb">
    <h2>Student Web Developer</h2>
    <p>You've stumbled across the website of <span class="bold">Valerie Conklin</span>,</p><p> web dev in training. Enjoy your stay!</p>
  </div>
</div>
