/**** General styling ****/

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #C1B8FF;
}

a {
  text-decoration: none;
  font-weight: bold;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

nav a {
  color: white;
}

nav {
  text-align: center;
  margin: auto;
}

nav a {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: bold;
}

ul.horizontal {
  list-style-type: none;
  text-align: center;
}

ul.horizontal > li {
  display: inline;
  margin: 1.25rem;
}

footer {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  clear: both;
}

article li {
  font-family: Helvetica, Arial, sans-serif;
  display: list-item;
}

/**** Styling for homepage ****/

.splash, header {
  text-align: center;
  margin: 2.25rem 0 0 0;
}

.splash h1 {
  font-size: 5rem;
  color: white;
  margin: 0px;
}

.splash h2 {
  font-size: 2.5rem;
  margin: 0;
}

.splash img {
  height: 15rem;
  width: 15rem;
  border: 0.5rem solid black;
  border-radius: 100%;
}

.bold {
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
}

.blurb p {
  line-height: 0.25rem;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

/**** Styling on every page but homepage ****/

header h1 {
  font-size: 4rem;
  color: white;
  margin: 0px;
}

article {
  background-color: white;
  margin: auto;
  width: 55%;
  padding: 1rem 2rem 1rem 2rem;
  border: 0.25rem solid black;
  text-align: justify;
}

.pixel_image {
  background-color: yellow;
  height: 6.25rem;
  width: 6.25rem;
  margin: auto;
}

/**** Styling on about page ****/
.kaomoji {
  text-align: center;
}

/**** Styling on portfolio page ****/

ul.portfolio {
  text-align: left;
  list-style-type: disc;
  padding-left: 1rem;
}

ul.portfolio > li{
  display: list-item;
  margin: 0.25rem;
}

/**** Styling on code-journal page ****/

.entries article {
  margin: 0.5rem;
  float: left;
}

article.next_entry {
  clear: both;
}

aside.sidebar {
  background-color: white;
  width: 30%;
  margin: 0.5rem;
  padding: 1rem 2rem 1rem 2rem;
  border: 0.25rem solid black;
  float: left;
}
